<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <div class='main-nav'>
                <div class='navbar navbar-inverse'>
                    <div class='navbar-header'>
                        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                            <span class='sr-only'>Toggle navigation</span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                        </button>
                    </div>
                    <div class='clearfix'></div>
                    <div class='navbar-collapse collapse'>
                        <ul class='nav navbar-nav'>
                            <li [routerLinkActive]="['link-active']">
                                <a [routerLink]="['/formation']">
                                    <span class='glyphicon glyphicon-home'></span> Formation
                                </a>
                            </li>
                            <li [routerLinkActive]="['link-active']">
                                <a [routerLink]="['/personnel']">
                                    <span class='glyphicon glyphicon-education'></span> Personnel
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>